        회원 이름 : {{ user.username }}

    <ul>
    {% for content in contents_list %}
        <form action="/" method="POST">
            {% csrf_token %}
            <li> 번호 : {{ content.id }}
                <label for="checked"> <input type='checkbox' disabled {% if content.is_checked  %}checked{%endif%} id="checked"/></label>
                시작 날짜 : {{ content.pub_date }}
                완료 날짜 : {{ content.exp_date }}
            </li>
        내용 : <cite> {{ content.contents }}</cite>
            <button type="submit" >완료</button>

            <label for="content_id"><input hidden name = "content_id" value = "{{content.id}}" id="content_id"/></label>
        </form>
    {% endfor %}
    </ul>


    <form action = "../list_add/" method="POST">
        {% csrf_token %}
        추가할 내용 : <label for="add_content"><input type="text" name="add_content" value="" id="add_content"/></label>
        마감일 : <label><input type="date" name="exp_date" value="" /></label>
        <input type ="submit" value="add" />
    </form>


    <form action = "../list_delete/" method="POST">
        {% csrf_token %}
        삭제할 내용 : <label for="delete_content"><input type = "text" name="delete_content" value="" id="delete_content" /></label>
        <input type ="submit" value="delete" />
    </form>


    <form action="../logout/" method="POST">
        {% csrf_token %}
        <button type="submit" name="logout">로그아웃</button>
    </form>

    <label>
    상태 :
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </label>

