        회원 이름 : {{ user.username }}

    <ul>
    {% for content in contents_list %}
        <form action="/" method="POST">
            {% csrf_token %}
            <li> 번호 : {{ content.id }}
                <label> <input type='checkbox' disabled {% if content.is_checked  %}checked{%endif%}/></label>
                시작 날짜 : {{ content.pub_date }}
                완료 날짜 : {{ content.exp_date }}
            </li>
        내용 : <cite name = "content_text"> {{ content.contents }}</cite>
            <button type="submit" >완료</button>
            <input hidden name = "content_id" value = "{{content.id}}" />
        </form>
    {% endfor %}
    </ul>


    <form action = "../list_add/" method="POST">
        {% csrf_token %}
        추가할 내용 : <input type="text" name="add_content" value=""/>
        마감일 : <input type="date" name="exp_date" value="" />
        <input type ="submit" value="add" />
    </form>


    <form action = "../list_delete/" method="POST">
        {% csrf_token %}
        삭제할 내용 : <input type = "text" name="delete_content" value="" />
        <input type ="submit" value="delete" />
    </form>


    <form action="../logout/" method="POST">
        {% csrf_token %}
        <button type="submit" name="logout">로그아웃</button>
    </form>

    <label>
    상태 :
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </label>

