로그인

<body>
    <form action="../login/" method="POST">
        {% csrf_token %}
        <label for="username"> ID : <input type="text" name = "username" maxlength="20" id="username"><br></label>
        <label for="password"> password : <input type="password" name = "pw" maxlength="12" id="password"><br></label>
        <input type="submit" value = "로그인" />
    </form>

    <form action="../register/">
        <button type = "submit" >회원가입</button>
    </form>
</body>

    상태 :
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}