<head>
    <h1>로그인</h1>
</head>

<body>
    <form action="/" method="POST">
        {% csrf_token %}
        ID : <input type="text" required name = "username" ><br>
        password : <input type="password" required name = "pw" ><br>
        <input type="submit" value = "로그인" />
        <input hidden name = "login_hidden" value = "login" />
    </form>

    <form action="register/">
        <button type = "submit" >회원가입</button>
    </form>
</body>

    <label>
    상태 :
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </label>