<head>
    <h1>회원가입</h1>
</head>

<body>
    <form action="./" method="POST">
        {% csrf_token %}
        ID : <input type="text" required name = "username" maxlength="20"/><br>
        password : <input type="password" required name = "pw" maxlength="12"/><br>
             <input type="submit" value = "가입하기" />
    </form>

    <form action="../">
    <button type="submit" >처음으로</button>
    </form>
</body>

    <label>
    상태 :
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </label>