회원가입

<body>
    <form action="./" method="POST">
        {% csrf_token %}
        <label for="username"> ID : <input type="text" name = "username" maxlength="20" id="username"/><br></label>
        <label for="password"> password :<input type="password" name = "pw" maxlength="12" id="password"/><br></label>
             <input type="submit" value = "가입하기" />
    </form>

    <form action="../">
    <button type="submit" >처음으로</button>
    </form>
</body>

    상태 :
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}